@model ICoreWeb.Data.Identity.Model.CorePermission
@{
    Layout = "_Layout";
}
<vc:title header="@Model.Name"></vc:title>
<div class="ks-page-content">
    <div class="ks-page-content-body">
        <div class="ks-nav-body-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <b>ID</b>
                            </div>
                            <div class="col-lg-11">
                                @Model.Id
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                                <b>Name</b>
                            </div>
                            <div class="col-lg-11">
                                @Model.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                                <b>Category</b>
                            </div>
                            <div class="col-lg-11">
                                @Model.Category.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                                <b>Description</b>
                            </div>
                            <div class="col-lg-11">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>